{% extends "base.html" %}

{% block title %}Клієнти{% endblock %}

{% block content %}
<h2>Список клієнтів</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>ПІБ</th>
            <th>Телефон</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.full_name }}</td>
            <td>{{ client.phone }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}